body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: black;
	font-size: 12px;
	margin: 0;
	padding: 12px 0;
    background-color: #e0e0e0; /*#6a1010;*/
}

table {
    background-color: #f4f4f4;
    margin: 20px;
    text-align:left;
    margin-top:3px;
    
    
}
td, th {
    vertical-align:top;
    padding:3px;
}
h1 {
    color: black;
    margin-bottom: 5px;
}
#header{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#header a:link { color: #852020; text-decoration: underline; }
#header a:visited {color: #852020; text-decoration: underline; }
.pgs {
	font-weight: normal;
	text-decoration: none;
	
	margin: 0 2px;
	padding: 0 2px;
	font-size: 12px;
}

.pgs a:link	{ color: #852020; text-decoration: none; }
.pgs a:visited	{ color: #c3aeae; text-decoration: none; }
.pgs a:hover	{ color: #ff4335; text-decoration: underline; }
.pgs a:active	{ color: #d2d2d2; text-decoration: none; }
.date {
    font-size: 12px;
    width: 100px;
}
.author {
    width: 70px;
}
.subf {
    width: 50px;
}

thead a {font-size: 12px;}
thead a:link
thead {  
    text-align:left;
    color:#852020;
}
thead a:link	{ color: #852020; text-decoration: underline; }
thead a:visited	{ color: #852020;}
thead a:hover	{ color: red;}
thead a:active	{ color: black;}

tr {font-size:14px;}

a:link	{ color: black; text-decoration: none; }
a:visited	{ color: black; text-decoration: none; }
a:hover	{ color: #ff4335; text-decoration: underline; }
a:active	{ color: #d2d2d2; text-decoration: none; }
